.page__articel {
}
.articel {
}
.articel__container {
}
.page_1 {
}
.page {
}
.page__titel {
}
.titel {
    font-size: 16px;
}
.page__discription {
}
.discription {
    font-style: italic;
    padding: 0px 0px 10px 15px;
}
.discription a:hover{
    text-decoration: underline;
}
.discription a{

}