.page {
}
.page__big-titel {
}
.big-titel {
    padding-top: 160px;
}
.big-titel__container {
}
.page__articel {
}
.articel {
}
.articel__container {
}
.item_1 {
}
.item {
}
.item__discription {
}
.discription {
}
.item__content {
}
.item__content img{
    width: 350px;
}
.item__content-smale-img img{
    max-width: 100%;
}